[package]
name = "{ name }"
authors = ["TODO <TODO@example.com>"]
version = "0.1.0"
url = "TODO: Package Website"
# Which files do you want to be automatically required from your package.
# requires = ["lib/library.rb"]

[package.installs]
# Example
#
# <from> = <to>
# "lib/library.rb" = "app/lib/library.rb"

[dragonruby]
version = "2"
edition = "standard"
